html {
    font-size: 14px;
    font-family: "Gill Sans", sans-serif;
}   

body {
    margin: auto 0 auto 0;
}

header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto 20px auto;
    max-width: 840px;
}

#h_logo {
    flex-grow: 1;
    font-size: 1.3rem;
    font-weight: bold;
    color: lightseagreen;
    text-align: start;
}

#h_stats {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

#h_stats > div {
    order: 2;
    width: 47.5%;
    padding: 8px;
    border-radius: 4px;
    background-color: rgba(0,0,0,.1);
}

main {
    min-height: 85vh;
    max-width: 840px;
    margin: auto;
}

.separator {
    display: block;
}

hr {
    color: rgba(0,0,0,.2);
}

.separator.y-ax {
    order: 2;
    padding: 2%;
}

main > .separator.x-ax {
    height: 30px;
}

#taskMenu {
    display: inline;
}

#addTaskField {
    display: inline;
}

input.custom, button, select {
    border: 2px solid rgb(27, 173, 165);
    border-top-color: #ff7f2a;
    border-left-color: #ff7f2a;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
}

input[type=submit], button {
    font-weight: bold;
}

button {
    border-style: dashed;
}

.task-container {
    display: flex;
    min-height: 50vh;
    padding: 5px 30px 5px 30px; 
    border: 1px solid rgba(27, 173, 165, 1);
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
}

.task-list {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.task-list li {
    display: flex;
    margin-bottom: 8px;
}

.list-button {
    margin-left: 8px;
}

footer {
    background-color: rgba(255,255,255,.2);
    text-align: center;
}

@media (max-width: 639px) {
    
    html {
        width: auto;
    }
    
    #h_logo {
        
    }
    
    #h_stats > div {
        width: 35%;
    }
    
    .separator.y-ax{
        order: 1;
        padding: 5%;
    }
}

