html {
    font-size: 14px;
    font-family: "Gill Sans", sans-serif;
}   

body {
    max-width: 840px;
    margin: auto;
}

h1 {
    font-size: 18px;
}

.instructions > * {
    font-size: 14px;
}

.instructions > h1 {
    margin: 0 0 15px 0;
}

h2 {
    font-size: 14px;
}

ul {
    margin-bottom: 0;
}

header > form {
    display: flex;
    align-items: center;
    margin: 20px auto 20px auto;
}

header > form > span {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

header > form > * {
    flex-grow: 1;
    align-content: end;
}

form > .column {
    display: flex;
    align-items: center;
    justify-content: start;
}

.column > * {
    text-wrap: wrap;
}

.column > input {
    margin: 0 10px 0 0;
    padding: 6px !important;
    line-height: 18px;
    border-color: rgba(27, 173, 165, .2) !important;
}

.right-align {
    justify-content: end !important;
}

.right-align > * {
    margin-left: 10px;
}

#h_logo {
    max-width: 200px;
    font-size: 1.3rem;
    font-weight: bold;
    color: lightseagreen;
    text-align: start;
}

.box {
    padding: 8px !important;
    font-size: 14px !important;
    font-weight: normal !important;
    border-radius: 4px;
}

.score-display {
    line-height: 18px;
    background-color: rgba(0,0,0,.1);
}

main {
    min-height: 85vh;
    max-width: 840px;
    margin: auto;
}

.separator {
    display: block;
}

hr {
    color: rgba(0,0,0,.2);
}

.separator.y-ax {
    width: 2px;
    height: 20px;
    border-radius: 8px;
    background-color: lightseagreen;
}

header > .separator.x-ax {
    height: 30px;
}

.input-params {
    display: inline;
}

#addTaskField {
    display: inline;
}

.hide {
    visibility: hidden;
}

#addTaskField:hover {
    cursor: default;
}

#taskName:hover {
    cursor: text;
}

.cursor-pointer:hover, .button-remove:hover, .button-mark-done:hover {
    cursor: pointer;
}

.cursor-default:hover {
    cursor: default;
}

input[type=submit], input[type=text], .button, select {
    border: 2px solid rgb(27, 173, 165);
    border-top-color: #ff7f2a;
    border-left-color: #ff7f2a;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
}

input[type=submit], .button {
    font-weight: bold;
}

#buttonAdd {
    border-style: dashed;
}

.task-container {
    display: flex;
    min-height: 50vh;
    padding: 5px 0 5px 0; 
    border: 1px solid rgba(27, 173, 165, 1);
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
}

.task-list {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.list-button {
    margin-left: 8px;
}

.button-mark-done {
    height: 20px;
}

.task-weight-group {
    display: none;
}

.task-weight-group > span {
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
}

.button-remove {
    height: 20px;
}

.instructions {
    margin: 30px auto 30px auto;
    color: rgba(0, 0, 0, 0.5);
}

footer {
    text-align: center;
    padding: 20px 0 20px 0;
}

@media (max-width: 515px) {
    
    html {
        width: auto;
        margin: auto 15px auto 15px ;
    }
    
    h1 {
        font-size: 14px !important;
    }
    
    h2, p, li {
        font-size: 14px;
    }
    
    .separator.y-ax {
        height: 30px !important;
    }
    
    .input-params {
        display: flex;
        flex-wrap: wrap;
    }
    
    #addTaskField {
        order: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #addTaskField > input {
        width: 100%;              
        box-sizing: border-box; 
    }
    
    #taskWeight {
        margin: 5px 0 5px 0;
    }
    
    .input-params > input {
        order: 2;
        flex-basis: 49.5%;
        margin-left: 0.5%;
    }
    
    .input-params > button {
        order: 1;
        flex-basis: 49.5%;
        margin-right: 0.5%;
    }
    
    .task-weight-group > span {
        font-size: 12px;
    }
    
    #h_stats > div {
        width: 35%;
    }
}